:root {
    --main-color: #ff0f42;
    --main-text: 'Russo One', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(243, 243, 243);
}

.brand-logo {
    padding-top: 20px;
}

.nav {
    font-family: var(--main-text);
}

.nav-link {
    text-decoration: none;
    color: rgb(20, 20, 20);
    border-radius: 25px;
    
}

.nav-link:hover {
    background-color: #ff0f42;
    color: white;
    border-radius: 25px;
}

.sign-in-btn {
    background-color: var(--main-color);
    color: white;
}

.sign-in-btn:hover {
    background-color: var(--main-color);
}

.create-account {
    color: var(--main-color);
}

.submit-btn {
    background-color: var(--main-color);
    color: white;
}

.submit-btn:hover {
    background-color: var(--main-color);
}


.hero-img {
    margin-block: 30px;
}

/* .hero-img:hover {
    border: 5px var(--main-color) solid;
} */


.best-seller-section {
    padding-bottom: 20px;
}

.new-releases-section {
    padding-bottom: 100px;

}

.best-sellers-header, .new-releases-header {
    padding-left: 20px;
    font-family: var(--main-text);
    background-color: var(--main-color);
    color: white;
}

.address, .figcaption {
    font-family: var(--main-text);
}

.best-seller-figure img:hover , .new-releases-figure img:hover  {
    border: 3px var(--main-color) solid;
}

.figcaption {
    font-size: 16pt;
}

.address p {
    margin: -5px;
    letter-spacing: 10px;
    color: var(--main-color);
}

.sony, .microsoft, .nvidia, .nintendo {
    margin-left: 20px
}

.footer {
    padding-bottom: 40px;
}

/* STORE */

.store-header {
    
    font-family: var(--main-text);
    background-color:var(--main-color);
    color: white;
    padding-top: 10px;
    margin-bottom: 40px;
}

.store-section {
    margin-block: 40px;
}

.store-figure {
    padding: 0 10px 20px;
}

.buy-button {
    padding: 5px 10px;
    background-color: rgb(243, 243, 243);
    color: rgb(20, 20, 20);
    border: 5px var(--main-color) solid;
    font-family: var(--main-text);
    text-transform: uppercase;
    border-radius: 27px;
}

.buy-button:hover {
    background-color: var(--main-color);
    color: rgb(243, 243, 243);
}

/* Single Store-Item */
.game-single {
    padding-block: 40px;
}

.game-description {
    font-family: var(--main-text);
    
}

.game-name {
    color: var(--main-color);
}

.rating {
    color: var(--main-color);
}

/* Contact */
.contact-section {
    font-family: var(--main-text);
    margin: 40px 0 80px;
}

.contact-header {
    background-color: var(--main-color);
    color: white;
}

.icon {
    color: var(--main-color);
    margin-right: 5px;
}

/*Login Page*/

.account-header {
    background: var(--main-color);
    color: white;
    font-family: var(--main-text);
    margin-top: 40px;
}

.form{
    margin-block: 60px;
    font-family: var(--main-text);
}

.login {
    margin-bottom: 20px;
}

.login-input{
    margin: 20px 20px 20px 0;
}

.login-btn {
    background-color: white;
    color: black;
    border: 5px solid var(--main-color);
    border-radius: 25px;
    padding: 0 10px 0 10px;
}

.forgot, .label {
    
    color: var(--main-color);
}
